*{
    font-family: 'Montserrat', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    input{
        all: unset;
    }
}
.behind{
    position: absolute;
    z-index: -10;
    width: 100vw;
    height: 100vh;
}
.landing-page{
    overflow: hidden;
    
    .split{
        display: flex;
        justify-content: space-between;
        .hero-right{
            min-width: 50vw;
            height: 100vh;
            object-fit: cover;
        }
        .hero-left{
            width: 50vw;
            margin: auto 0px;
            text-align: center;
            .form-title{
                font-size: 1.7rem;
                margin-top: 1em;
                margin-bottom: .2em;
            }
            .form-subtitle{
                font-size: 1.1rem;
                margin-bottom: 1.5em;
            }
            display: flex;
            align-items: center;
            flex-direction: column;
            .input-area{
                background-color: rgba(255, 255, 255, 0.516);
                width: 20em;
                height: 2.5em;
                border-radius: 10px;
                box-shadow: 0px 0px 50px #0051ff0f;
                margin-bottom: .5em;
                text-align: left;
                padding: .2em;
                padding-left: 1em;
                font-weight: 500;
                font-size: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                svg{
                    cursor: pointer;
                    margin-right: 1em;
                    
                }
                .pw{
                    width: 20em;
                    vertical-align: middle;
                    
                }
            }
        }
    }

}
.vertical-logo{
    display: flex;
    align-items: center !important;
    flex-direction: column;
    img{
        width: 4em;
    }
    span{
        font-style: italic;
        font-size: 2rem;
        font-weight: 800;
        color: #004fff;
    }
}
.primary-btn{
    background-color: #004fff;
    border: none;
    padding: .8em 3em;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    width: 21em;
    border-radius: 10px;
    cursor: pointer;
    
}
.primary-btn:hover{
    background-color: #0039b4;
    transition: 700ms;
    
    box-shadow: 0px 5px 40px #0051ff0c;
}
.text{
    margin: 1em 0em;
    font-size: .9rem;
    text-align: left;
}
.primary-text{
    color: #004fff;
    font-weight: 700;

}
@media only screen and (max-width: 900px) {
    .landing-page{
        .hero-right{
            display: none;
        }
        .split{
            display: flex;
            justify-content: center;
        }
    }
  }
  .horizontal-logo{
    display: flex;
    vertical-align: middle;
    img{
        width: 3.5em;
    }
    span{
        font-style: italic;
        font-size: 1.7rem;
        
        font-weight: 800;
        color: #004fff;
    }
}
.flexing{
    display: flex;
    align-items: center;
    padding: 1em;
    padding-left: 2.5em;
    svg{
        opacity: .5;
    }
    h3{
        font-size: 1.2rem;
        margin-left: 1.5em;
        font-weight: 700;
        color: rgba(86, 86, 86, 0.639);
    }
}
.flexing:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}
.menu{
    width: 16vw;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 50px #00000013;
    padding: 2em;
    height: 70vh;
    text-align: left;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20vw;
    padding: 1em;
    .horizontal-logo{
        margin: 1em auto;
    }
}
.layout{
    display: flex;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5vw;
    
}
.search-bar{
    width: 40vw;
    padding: .4em;
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.057);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: .6em;
    .input-search{
        width: 60vw;
        padding-left: 1em;
    }
    .search-btn{
        all: unset;
        background-color: #004fff;
        border-radius: 10px;
        padding: .8em;
        display: flex;
        align-items: center;
        cursor: pointer;
        svg{
            width: 20px;
        }
    }
}
.top-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        border-radius: 10px;
        margin-inline: 2em;
    }
}.add-friend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    svg{
        background-color: #004fff;
        border-radius: 10px;
        fill: white;
        padding: .4em;
        margin-left: 2em;
        cursor: pointer;
        border: 2px solid #0051ff00;
    }   
    svg:hover{
        border: 2px solid #0051ff51;
    }
}

.profile-pic{
    border-radius: 10px;
    margin-right: 1em;
    width: 3em;
    height: 3em;
    object-fit: cover;
}
.name-area{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.751);
}
.right-side{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.066);
    padding: 2em;
    margin-right: 1.5em;
}